{% extends '::base.html.twig' %}
{% block body %}
    <table>
        {% for list in lists %}
            <tr>
                <td>{{ list.id }}</td>
                <td>{{ list.title }}</td>
            </tr>
        {% endfor %}
    </table>

    <div>
        {% if pageCount > 1%}
            {% if first != current %}
                <a href = "{{ path('post_list', { page: first }) }}"><<</a>
            {% endif %}
            {% if pre > 0  %}
                <a href = "{{ path('post_list', { page: pre }) }}"><</a>
            {% endif %}
            {% for i in range(1, pageCount)%}
                {% if i != current %}
                    <a href = "{{ path('post_list', { page: i }) }}">{{ i }}</a>
                {% else %}
                    <span>{{ current }}</span>
                {% endif %}
            {% endfor %}
            {% if nex < pageCount + 1 %}
                <a href = "{{ path('post_list', { page: nex }) }}">></a>
            {% endif %}
            {% if last != current %}
                <a href = "{{ path('post_list', { page: last }) }}">>></a>
            {% endif %}
       {% endif %}
    </div>
{% endblock %}
